
    <div class="row">

      <!-- Side Bar -->

      <div class="large-4 small-12 columns">

        <img src="http://www.dpaperwall.com/wp-content/uploads/neon-backgrounds-1920x1080p.jpg">

        <div class="hide-for-small panel">
          <h3>welcome to</h3>
          <h3>neon running</h3>
          <h5 class="subheader">apparel and gear for women who like to run in bright colors. duh.
          </h5>
        </div>

        <div class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </div>

        <a href="#">
          <div class="panel callout radius">
            <h6>99 items in your cart</h6>
          </div>
        </a>

      </div>

      <!-- End Side Bar -->


      <!-- Thumbnails -->

      <div class="large-8 columns">
        <div class="row">

          <div class="large-4 small-6 columns product-wrapper" data-reveal-id="myModal1">
            <img class="thumb" src="http://a3.zassets.com/images/z/2/3/0/3/6/6/2303666-p-MULTIVIEW.jpg">

            <div class="panel">
              <h5>adidas ultimate 3/4 tight</h5>
              <h6 class="subheader">$50.00</h6>
            </div>
            <div id="myModal1" class="reveal-modal" data-reveal>
              <h2>adidas ultimate 3/4 tight</h2>
              <p class="lead">$50.00</p>
              <img class="thumb" src="http://a3.zassets.com/images/z/2/3/0/3/6/6/2303666-p-MULTIVIEW.jpg">
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>

          <div class="large-4 small-6 columns product-wrapper" data-reveal-id="myModal2">
            <img class="thumb" src="http://a1.zassets.com/images/z/1/8/5/7/0/7/1857074-p-MULTIVIEW.jpg">

            <div class="panel">
              <h5>Brooks NightLife Essential Jacket</h5>
              <h6 class="subheader">$85.00</h6>
            </div>
            <div id="myModal2" class="reveal-modal" data-reveal>
              <h2>Brooks NightLife Essential Jacket</h2>
              <p class="lead">$85.00</p>
              <img class="thumb" src="http://a1.zassets.com/images/z/1/8/5/7/0/7/1857074-p-MULTIVIEW.jpg">
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>

          <div class="large-4 small-6 columns product-wrapper" data-reveal-id="myModal3">
            <img class="thumb" src="http://l4.zassets.com/images/z/2/3/4/1/8/4/2341847-p-MULTIVIEW.jpg">

            <div class="panel">
              <h5>CW-X Revolution Tights</h5>
              <h6 class="subheader">$200.00</h6>
            </div>
            <div id="myModal3" class="reveal-modal" data-reveal>
              <h2>CW-X Revolution Tights</h2>
              <p class="lead">$200.00</p>
              <img class="thumb" src="http://l4.zassets.com/images/z/2/3/4/1/8/4/2341847-p-MULTIVIEW.jpg">
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>

          <div class="large-4 small-6 columns product-wrapper" data-reveal-id="myModal4">
            <img class="thumb" src="http://www.sportsauthority.com/graphics/product_images/pTSA-13327727p275w.jpg">

            <div class="panel">
              <h5>NIKE Women's Tempo Shorts</h5>
              <h6 class="subheader">$25.00</h6>
            </div>
            <div id="myModal4" class="reveal-modal" data-reveal>
              <h2>NIKE Women's Tempo Shorts</h2>
              <p class="lead">$25.00</p>
              <img class="thumb" src="http://www.sportsauthority.com/graphics/product_images/pTSA-13327727p275w.jpg">
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>

          <div class="large-4 small-6 columns product-wrapper" data-reveal-id="myModal5">
            <img class="thumb" src="http://images.citysports.com/f/726/28361/24h/www.citysports.com/assets/product_images/225794_Neon_Pink_md.jpg">

            <div class="panel">
              <h5>CEP Night Calf Sleeve 2.0</h5>
              <h6 class="subheader">$45.00</h6>
            </div>
            <div id="myModal5" class="reveal-modal" data-reveal>
              <h2>CEP Night Calf Sleeve 2.0</h2>
              <p class="lead">$45.00</p>
              <img class="thumb" src="http://images.citysports.com/f/726/28361/24h/www.citysports.com/assets/product_images/225794_Neon_Pink_md.jpg">
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>

          <div class="large-4 small-6 columns product-wrapper" data-reveal-id="myModal6">
            <img class="thumb" src="http://images.citysports.com/f/726/28361/24h/www.citysports.com/assets/product_images/220372_md.jpg">

            <div class="panel">
              <h5>Nathan Strobe Running Light</h5>
              <h6 class="subheader">$10.00</h6>
            </div>
            <div id="myModal6" class="reveal-modal" data-reveal>
              <h2>Nathan Strobe Running Light</h2>
              <p class="lead">$10.00</p>
              <img class="thumb" src="http://images.citysports.com/f/726/28361/24h/www.citysports.com/assets/product_images/220372_md.jpg">
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>
        </div>

        <!-- End Thumbnails -->