<h3><a class="button small" ng-click="navNewProduct()">New Product</a></h3>
<br>
<div class="large-8 columns">
  <div class="row">
    <div ng-repeat="product in data.products | filter:search">

      <div class="large-4 small-6 columns product-wrapper">
        <a ng-click="viewProduct($index + 1)">
          <img class="thumb" ng-src=" {{ product.images[0] }}">

          <div class="panel">
            <h5>{{ product.name }}</h5>
            <h6 class="subheader">{{ product.price }}</h6>
          </div>
        </a>
        </div>
    </div>

  </div>
</div>