    <!-- Navigation -->
    <div class="row">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1>
                <a href="/">
                  neon running
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li><%= link_to "Angular Products", root_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Rails Products", products_path %></li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">Browse Items</a>
                <ul class="dropdown">
                  <li><label>Apparel</label></li>
                  <li><a href="#" class="">Tops</a></li>
                  <li><a href="#">Bottoms</a></li>
                  <li><a href="#">Socks</a></li>
                  <li><a href="#">Hats & Gloves</a></li>
                  <li class="divider"></li>
                  <li><label>Gear</label></li>
                  <li><a href="#">Watches & Headphones</a></li>
                  <li><a href="#">Recovery</a></li>
                  <li class="divider"></li>
                  <li><a href="#">See all</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <% if user_signed_in? %>
              <li class="has-dropdown">
                <a href="">Your Cart</a>
                <ul class="dropdown">
                  <li><a href="/cart">View Cart</a></li>
                </ul>
              </li>
              <% end %>
              <ul class="hmenu">
                <%= render 'devise/menu/registration_items' %>
                <%= render 'devise/menu/login_items' %>
              </ul>
            </ul>
          </section>
        </nav>
        <!-- End Top Bar -->
      </div>
    </div>

    <!-- End Navigation -->