  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <br>
    <img src="http://cdn.superbwallpapers.com/wallpapers/artistic/colorful-neon-doors-16413-400x250.jpg">

    <div class="hide-for-small panel">
      <h3>welcome to</h3>
      <h3>neon running</h3>
      <h5 class="subheader">apparel and gear for women who like to run in bright colors. duh.
      </h5>
    </div>

    <div class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" ng-model="search.$" placeholder="Search Products">
        </div>
      </div>
    </div>

    <% if @line_items %>
    <div class="panel callout radius">
      <a href="/cart"><h6><%= @line_items.count %> items in your cart</h6></a>
    </div>
    <% end %>

  </div>

  <!-- End Side Bar -->