  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
<br>
    <img src="http://cdn.superbwallpapers.com/wallpapers/artistic/colorful-neon-doors-16413-400x250.jpg">

    <div class="hide-for-small panel">
      <h3>welcome to</h3>
      <h3>neon running</h3>
      <h5 class="subheader">apparel and gear for women who like to run in bright colors. duh.
      </h5>
    </div>

    <div class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="alert button expand">Search</a>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="panel callout radius">
        <a href="/cart"><h6><%= @line_items.count %> items in your cart</h6></a>
      </div>
    </a>

  </div>

  <!-- End Side Bar -->